.php-cs-fixer.dist.php export-ignore
.gitignore             export-ignore
.recipe                export-ignore
.github                export-ignore
phpunit.xml            export-ignore
Makefile               export-ignore
phpstan.neon           export-ignore
tests                  export-ignore
