<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.3/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         cacheDirectory=".phpunit.cache"
         executionOrder="depends,defects"
         requireCoverageMetadata="true"
         beStrictAboutCoverageMetadata="true"
         beStrictAboutOutputDuringTests="true"
         failOnRisky="true"
         failOnWarning="true">
    <testsuites>
        <testsuite name="Temporal">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <php>
        <env name="TEMPORAL_ADDRESS" value="temporal:7233" />
        <env name="RR_RPC" value="tcp://temporal_php:6001" />
        <env name="DATABASE_URL" value="postgresql://symfony:symfony@symfony_db:5432/symfony_db?serverVersion=14&amp;charset=utf8" />
    </php>

    <source restrictDeprecations="true" restrictNotices="true" restrictWarnings="true">
        <include>
            <directory>src</directory>
        </include>
    </source>
</phpunit>
